a{
    text-decoration: none;
    padding: 0.5em;
}
a:h5{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
a:active{
    text-decoration: none;
}